<%= turbo_frame_tag "users_frame" do %>
<div class="border shadow-lg p-4 rounded position-relative">
    <div class="font-robos">
        <h3>Make Billing</h3>
    </div>

    <%= render 'users/billings/form' %>
</div>


<% end %>