<div class="container-fluid vh-100 ps-0">
    <div class="d-flex h-100">
        <div class="col-1 h-100 d-flex align-items-center justify-content-center border-end bg-secondary-subtle">
            <%= render 'admin/navbar' %>
        </div>
        <div class="col-11">
            <div class="container">
                <div class="col-12">
                    <h1 class="font-robos">Admin Dashboard</h1>
                </div>
                <%= turbo_frame_tag "admin_frame" do %>
                Logged in under: <%= current_user.company.name %> <br>
                as: <%= current_user.email %> <br>
                <br>
                
                <% end %>
            </div>
        </div>
    </div>
</div>