<div class="col border rounded p-3 me-3">
    <%= field_title "Client" %>
    <div class="input-group mb-2">
        <span class="input-group-text">Client Name</span>
        <input type="text" class="form-control">
    </div>
    <div class="input-group">
        <span class="input-group-text">Address</span>
        <textarea class="form-control"></textarea>
    </div>
</div>