<div class="row">
    <div class="col-4">
        <input type="text" class="form-control">
    </div>
    <div class="col">
        <input type="text" class="col form-control">
    </div>
    <div class="col">
        <input type="text" class="col form-control">
    </div>
    <div class="col">
        <input type="text" class="col form-control">
    </div>
    <div class="col">
        <input type="text" class="col form-control">
    </div>
    <div class="col-2">
        <input type="number" class="form-control-plaintext text-center" value=69420 readonly>
    </div>
</div>