<%= turbo_frame_tag "users_frame" do %>
<div class="border shadow-lg p-4 rounded position-relative">
    <div class="font-robo d-flex">
        <h3 class="font-robos">Edit</h3>
    </div>
    
    <%= render 'users/quotations/form', path: users_quotation_path(@quotation) %>
</div>
<% end %>