<%= turbo_frame_tag "users_frame" do %>
<div class="border shadow-lg p-4 rounded w-100 position-relative">
    <div class="font-robos">
        <h3>Quotation</h3>
    </div>
    <%= render 'users/quotations/form', path: users_quotations_path %>
</div>
<% end %>