<div class="toast align-items-center mt-1" data-controller="alerts" data-action="animationend->alerts#remove">
    <div class="d-flex">
        <div class="toast-body">
            <%= alert %>
            <%= notice %>
        </div>
        <button type="button" class="btn-close me-2 m-auto" data-bs-dismiss="toast">

        </button>
    </div>
</div>