<div class="position-absolute bottom-0 w-100">
    <div class="font-robo text-center">
        <small class="fw-light">
            <span class="user-select-none">
            Copyright © 2024 
            </span>
            <a href="https://github.com/smic29" target="_blank" class="link-offset-1 link-underline-opacity-50 text-reset">Spicy</a>
        </small>
    </div>
</div>