<div class="position-absolute bottom-0 w-100">
    <div class="font-robo text-center">
        <small class="fw-light">
            Copyright © 2024 <a href="https://github.com/smic29" target="_blank" class="link-offset-2 link-underline-opacity-50">Spicy</a>
        </small>
    </div>
</div>