<%= turbo_frame_tag "users_frame" do %>
<div class="border shadow rounded p-3">
    <% unless current_user.bookings.empty? %>
        <% @bookings.each do |booking| %>
        <div>
            <%= booking.b_reference %>
            <%= link_to 'Show', users_booking_path(booking), class: "btn btn-outline-info" %>
        </div>
        <% end %>
    <% else %>
    You have no bookings yet
    <% end %>
</div>
<% end %>