<div class="container-fluid vh-100">
    <div class="row h-100 justify-content-center align-items-center">
        <div class="col-12">
            <div class="row text-center flex-column">
                <div class="font-robo mb-3">
                    <h1 class="font-robos">About Spicement</h1>
                    <p class="lead">
                        A lightweight "booking" management application for logistics professionals based in the Philippines.
                    </p>
                    <p>
                        This is a project for Avion School made using Ruby on Rails. To get more information about the features and technologies used for this project, take a look at 
                        <a href="https://github.com/smic29/spicement" target="_blank">the repository</a>.
                    </p>
                    <div class="text-start mx-auto col-8 shadow-lg border rounded-3 p-3">
                        <h2 class="font-robos">What can I do with it?</h2>
                        <p>
                            Instead of managing several spreadsheets to keep track of your clients, quotations, forwarders, and billing documents, Spicement allows you to manage them all in one place.
                        </p>
                        <p>
                            This not only lessens the number of files you need to maintain, but it also lets you easily search, find, and open your intended files. In addition, you'll be able to generate pdf documents that you can send to your clients.    
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>