<div class="container-fluid vh-100">
  <div class="row h-100 justify-content-center align-items-center">
    <div class="col-12 text-center">
      <h1 class="display-4 fw-bold font-robos user-select-none">
        Welcome to Spicement!
      </h1>
      <div class="font-robo">
        <div class="d-flex justify-content-between col-2 mx-auto">
          <%= link_to 'Sign Up', auth_path, class: "btn btn-outline-success" %>
          <%= link_to 'About', about_path, class: "btn btn-outline-secondary" %>
          <%= link_to 'Log In', search_companies_path, class: "btn btn-outline-primary" %>
        </div>
      </div>
    </div>
  </div>
</div>
