<div class="container-fluid vh-100">
  <div class="row h-100 justify-content-center align-items-center">
    <div class="col-12 text-center">
      <h1 class="display-4 fw-bold font-robos">
        Welcome to Spicement!
      </h1>
      <a href=<%= auth_path %> class="btn btn-outline-success font-robo">
        Get Started
      </a>
    </div>
  </div>
</div>

<%= render 'shared/attribution' %>
