<div class="container-fluid vh-100">
    <div class="row h-100 justify-content-center align-items-center">
        <div class="col-12">
            <div class="row text-center flex-column">
                <span class="font-robo">
                    You are in the login or sign up page
                </span>
                <div>
                    <%= link_to 'Back', root_path, class: 'btn btn-outline-secondary font-robo' %>
                </div>
            </div>
        </div>
    </div>
</div>