<div class="container-fluid font-robo text-center">
    <h1 class="font-robos">Application Successful</h1>
    <p class="lead">Please give our team some time to review your application</p>
    <p>You will receive an email to confirm your registration once your application has been approved.</p>
</div>
