
<h1>Application Successful</h1>
<p>Please give our team some time to review your application</p>
<p>You will receive an email to confirm your registration once your application has been approved.</p>
