<div class="container-fluid font-robo text-center">
    <h1 class="font-robos">Application Successful</h1>
    <p class="lead">Please give our team some time to review your application</p>
    <p>We'll send an email to <%= @company.email %> to confirm your registration and provide your company code.</p>
    <p>We look forward to having <%= @company.name %> as part of Spicement!</p>
</div>
